@import "https://www.nerdfonts.com/assets/css/webfont.css";
@import "tailwindcss";

@theme {
  /**
   * ライトモード
   * https://contrast-color-palette.vercel.app/?baseColors=%23250d00,%23c53d43,%23f3f3f2&numberOfColors=11&lightnessGain=0.5&selectedColorIndex=2
   */
  /* 白練 */
  --color-light-base: #f3f3f2;
  /* 赤紅 */
  --color-light-accent: #c53d43;
  /* 黒檀 */
  --color-light-neutral: #250d00;

  --color-light-base-50: #e8e8e7;
  --color-light-base-100: #dcdcdb;
  --color-light-base-200: #c9c9c8;
  --color-light-base-300: #b0b0af;
  --color-light-base-400: #929291;
  --color-light-base-500: #717171;
  --color-light-base-600: #525252;
  --color-light-base-700: #383838;
  --color-light-base-800: #252524;
  --color-light-base-900: #181817;
  --color-light-base-950: #0f0f0e;

  --color-light-accent-50: #ffb7b3;
  --color-light-accent-100: #ffaaa7;
  --color-light-accent-200: #ff9795;
  --color-light-accent-300: #ff7e7d;
  --color-light-accent-400: #e95e60;
  --color-light-accent-500: #c23a40;
  --color-light-accent-600: #9b0921;
  --color-light-accent-700: #7a0003;
  --color-light-accent-800: #600000;
  --color-light-accent-900: #4c0000;
  --color-light-accent-950: #3f0000;

  --color-light-neutral-50: #ffe0cb;
  --color-light-neutral-100: #f7d4be;
  --color-light-neutral-200: #e4c1ac;
  --color-light-neutral-300: #caa994;
  --color-light-neutral-400: #ab8b77;
  --color-light-neutral-500: #896a57;
  --color-light-neutral-600: #684b39;
  --color-light-neutral-700: #4d3120;
  --color-light-neutral-800: #371e0c;
  --color-light-neutral-900: #281001;
  --color-light-neutral-950: #1f0700;

  /**
   * ダークモード
   * https://contrast-color-palette.vercel.app/?baseColors=%23250d00,%23c53d43,%23f3f3f2&numberOfColors=11&lightnessGain=0.5&selectedColorIndex=2
   */
  /* 黒檀 */
  --color-dark-base: var(--color-light-neutral);
  /* 赤紅 */
  --color-dark-accent: var(--color-light-accent);
  /* 白練 */
  --color-dark-neutral: var(--color-light-base);

  --color-dark-base-50: #ffe0cb;
  --color-dark-base-100: #f7d4be;
  --color-dark-base-200: #e4c1ac;
  --color-dark-base-300: #caa994;
  --color-dark-base-400: #ab8b77;
  --color-dark-base-500: #896a57;
  --color-dark-base-600: #684b39;
  --color-dark-base-700: #4d3120;
  --color-dark-base-800: #371e0c;
  --color-dark-base-900: #281001;
  --color-dark-base-950: #1f0700;

  --color-dark-accent-50: #ffb7b3;
  --color-dark-accent-100: #ffaaa7;
  --color-dark-accent-200: #ff9795;
  --color-dark-accent-300: #ff7e7d;
  --color-dark-accent-400: #e95e60;
  --color-dark-accent-500: #c23a40;
  --color-dark-accent-600: #9b0921;
  --color-dark-accent-700: #7a0003;
  --color-dark-accent-800: #600000;
  --color-dark-accent-900: #4c0000;
  --color-dark-accent-950: #3f0000;

  --color-dark-neutral-50: #e8e8e7;
  --color-dark-neutral-100: #dcdcdb;
  --color-dark-neutral-200: #c9c9c8;
  --color-dark-neutral-300: #b0b0af;
  --color-dark-neutral-400: #929291;
  --color-dark-neutral-500: #717171;
  --color-dark-neutral-600: #525252;
  --color-dark-neutral-700: #383838;
  --color-dark-neutral-800: #252524;
  --color-dark-neutral-900: #181817;
  --color-dark-neutral-950: #0f0f0e;
}

:root {
  font-family: /* macOS */ -apple-system, BlinkMacSystemFont,
    "Hiragino Kaku Gothic", "Yu Gothic", "Apple Color Emoji",
    /* Windows */ "Segoe UI Variable", "Segoe UI", "Yu Gothic", "Meiryo",
    "Noto Sans JP", "Segoe UI Emoji", "Noto Color Emoji",
    /* fallback */ sans-serif;
  font-size: 20px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: var(--color-light-base);
    color: var(--color-light-neutral);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: var(--color-dark-base-950);
    color: var(--color-dark-neutral-50);
  }
}

@layer components {
  html {
    @apply font-[NerdFont];
  }
  body {
    @apply leading-5;
  }
  main {
    @apply mt-4 mb-4;
  }
  footer {
    @apply bg-dark-neutral-950 text-center text-sm;
  }
  button:not(.icon) {
    @apply bg-dark-base-600 p-1 rounded-md
           disabled:cursor-not-allowed disabled:opacity-50;
  }
  button.icon {
    @apply flex items-center justify-center
           disabled:cursor-not-allowed disabled:opacity-50;
  }
  div.search {
    @apply flex items-center ml-auto;
  }
  div.toast-area {
    @apply fixed top-4 right-4 z-20 gap-2;
  }
  div.toast-base {
    @apply text-white shadow-lg rounded px-4 py-2 text-sm flex items-center max-w-md;
  }
  div.toast-success {
    @apply bg-emerald-600;
  }
  div.toast-info {
    @apply bg-sky-600;
  }
  div.toast-warning {
    @apply bg-amber-600;
  }
  div.toast-error {
    @apply bg-rose-600;
  }
  div.toolbar {
    @apply bg-dark-base-950/15 flex gap-2 text-2xl;
  }
  i.line-start {
    @apply mr-2;
  }
  i.line-start.folder {
    @apply text-sky-500;
  }
  i.line-start.file {
    @apply text-emerald-600;
  }
  i:not(.line-start) {
    @apply m-1 text-sky-500;
  }
  table.file-list {
    @apply border-collapse border;
  }
  table.file-list > thead > tr {
    @apply sticky top-0 backdrop-blur z-10;
  }
  table.file-list th {
    @apply bg-dark-base-500/20
           border border-dark-neutral-700 p-1;
  }
  table.file-list > tbody > tr:nth-child(odd) {
    @apply bg-dark-base-800;
  }
  table.file-list > tbody > tr:nth-child(even) {
    @apply bg-dark-neutral-800;
  }
  table.file-list td.select-file {
    @apply border border-dark-neutral-700
           p-1;
  }
  table.file-list td.name {
    @apply border border-dark-neutral-700 max-w-500
           wrap-anywhere whitespace-normal p-1;
  }
  table.file-list td.size {
    @apply border border-dark-neutral-700 max-w-80
           whitespace-normal p-1 text-center text-dark-neutral-300;
  }
  table.file-list td.datetime {
    @apply border border-dark-neutral-700 max-w-150
           whitespace-normal p-1 text-center text-dark-neutral-300;
  }
}
